.services-home-selection {
  align-items: center;
}

.services-home-sect-title {
  color: rgb(253,96,20);
  text-align: center;
}

@media screen and (min-width: 270px) {
  .services-home-selection {
    display: grid;
  }

  .services-home-sect-title {
    font-size: 32px;
  }
}

@media screen and (min-width: 600px) {
  .services-home-selection {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .services-home-selection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 700px;
  }

  .services-home-sect-title {
    font-size: 64px;
  }
}